    footer.caviar-footer-area
      .container
        .row
          .col-12
            .footer-text
              a.navbar-brand(href='#') caviar
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              p
                | Copyright ©
                script.
                  document.write(new Date().getFullYear());
                |  All rights reserved | This template is made with 
                i.fa.fa-heart-o(aria-hidden='true')
                |  by 
                a(href='https://colorlib.com', target='_blank') Colorlib
              // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
              // ****** Footer Area End ******
              // Jquery-2.2.4 js
              script(src='js/jquery/jquery-2.2.4.min.js')
              // Popper js
              script(src='js/bootstrap/popper.min.js')
              // Bootstrap-4 js
              script(src='js/bootstrap/bootstrap.min.js')
              // All Plugins js
              script(src='js/others/plugins.js')
              // Active JS
              script(src='js/active.js')
