extend layout
block content
  // ****** Welcome Area Start ******
  section#home.caviar-hero-area
    // Welcome Social Info
    .welcome-social-info
      a(href='#')
        i.fa.fa-facebook(aria-hidden='true')
      a(href='#')
        i.fa.fa-instagram(aria-hidden='true')
      a(href='#')
        i.fa.fa-twitter(aria-hidden='true')
    // Welcome Slides
    .caviar-hero-slides.owl-carousel
      // Single Slides
      .single-hero-slides.bg-img(style='background-image: url(img/bg-img/hero-1.jpg);')
        .container.h-100
          .row.h-100.align-items-center
            .col-11.col-md-6.col-lg-4
              .hero-content
                h2 Lorem Ipsum
                p
                  | Morbi sed porta diam. Sed pulvinar cursus lorem, consectetur iaculis dolor scelerisque non. Praesent bibendum mauris risus, non aliquam tellus consectetur nec.
                a.btn.caviar-btn(href='#')
                  span
                  |  Reservation
        // Slider Nav
        .hero-slides-nav.bg-img(style='background-image: url(img/bg-img/hero-2.jpg);')
      // Single Slides
      .single-hero-slides.bg-img(style='background-image: url(img/bg-img/hero-2.jpg);')
        .container.h-100
          .row.h-100.align-items-center
            .col-11.col-md-6.col-lg-4
              .hero-content
                h2 Lorem Ipsum
                p
                  | Morbi sed porta diam. Sed pulvinar cursus lorem, consectetur iaculis dolor scelerisque non. Praesent bibendum mauris risus, non aliquam tellus consectetur nec.
                a.btn.caviar-btn(href='#')
                  span
                  |  Reservation
        // Slider Nav
        .hero-slides-nav.bg-img(style='background-image: url(img/bg-img/hero-1.jpg);')
  // ****** Welcome Area End ******
  // ****** About Us Area Start ******
  section#about.caviar-about-us-area.section-padding-150
    .container
      // About Us Single Area
      .row.align-items-center
        .col-12.col-md-6
          .about-us-thumbnail.wow.fadeInUp(data-wow-delay='0.5s')
            img(src='img/bg-img/about-1.jpg', alt='')
        .col-12.col-md-6.col-lg-5.ml-md-auto
          .section-heading
            h2 About Us
          .about-us-content
            span restaurant style
            p
              | Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus, eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo. Nam eu dolor lorem. Praesent blandit leo sit amet velit accumsan ultrices. Vestibulum nec libero vel sapien dictum euismod eu ac justo.
      // About Us Single Area
      .about-us-second-part
        .row.align-items-center.pt-200
          .col-12.col-md-6.col-lg-5
            .about-us-content
              span our chef
              p
                | Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod. Etiam scelerisque eu enim et vestibulum. Mauris finibus, eros a faucibus varius, dui risus mattis massa, sed lobortis ante ante eget justo.
          .col-12.col-md-6.ml-md-auto
            .about-us-thumbnail.wow.fadeInUp(data-wow-delay='0.5s')
              img(src='img/bg-img/about-2.jpg', alt='')
  // ****** About Us Area End ******
  // ****** Dish Menu Area Start ******
  section#menu.caviar-dish-menu
    .container
      .row
        .col-12.menu-heading
          .section-heading.text-center
            h2 Special
          // btn
          a.btn.caviar-btn(href='/menu')
            span
            |  View The Menu
      .row
        .col-12.col-sm-6.col-md-4
          .caviar-single-dish.wow.fadeInUp(data-wow-delay='0.5s')
            img(src='img/menu-img/dish-1.png', alt='')
            .dish-info
              h6.dish-name Lorem Ipsum Dolor Sit Amet
              p.dish-price $45
        .col-12.col-sm-6.col-md-4
          .caviar-single-dish.wow.fadeInUp(data-wow-delay='1s')
            img(src='img/menu-img/dish-2.png', alt='')
            .dish-info
              h6.dish-name Lorem Ipsum
              p.dish-price $45
        .col-12.col-sm-6.col-md-4
          .caviar-single-dish.wow.fadeInUp(data-wow-delay='1.5s')
            img(src='img/menu-img/dish-3.png', alt='')
            .dish-info
              h6.dish-name Lorem Ipsum Dolor Sit Amet
              p.dish-price $45
  // ****** Dish Menu Area End ******
  // ****** Awards Area Start ******
  section#awards.caviar-awards-area
    .container
      .row.align-items-center
        .col-12.col-md-2
          .section-heading
            h2 Awards
        .col-12.col-md-9.ml-md-auto
          .caviar-awards.d-sm-flex.justify-content-between
            img(src='img/awards-img/a-1.png', alt='')
            img(src='img/awards-img/a-2.png', alt='')
            img(src='img/awards-img/a-3.png', alt='')
            img(src='img/awards-img/a-4.png', alt='')
            img(src='img/awards-img/a-5.png', alt='')
  // ****** Awards Area End ******
  // ****** Testimonials Area Start ******
  section#testimonial.caviar-testimonials-area
    .container
      .row
        .col-12
          .testimonials-content
            .section-heading.text-center
              h2 Testimonials
            .caviar-testimonials-slides.owl-carousel
              // Single Testimonial Area
              .single-testimonial
                .testimonial-thumb-name.d-flex.align-items-center
                  img(src='img/testimonial-img/3.jpg', alt='')
                  .tes-name
                    h5 Robert Jonson
                    p lorem ipsum
                p
                  | Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod.
              // Single Testimonial Area
              .single-testimonial
                .testimonial-thumb-name.d-flex.align-items-center
                  img(src='img/testimonial-img/2.jpg', alt='')
                  .tes-name
                    h5 Clara Hudson
                    p lorem ipsum
                p
                  | Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod.
              // Single Testimonial Area
              .single-testimonial
                .testimonial-thumb-name.d-flex.align-items-center
                  img(src='img/testimonial-img/1.jpg', alt='')
                  .tes-name
                    h5 Jane Black
                    p lorem ipsum
                p
                  | Sed commodo augue eu diam tincidunt, sit amet auctor lectus semper. Mauris porttitor diam at fringilla tempor. Integer molestie rhoncus nisi a euismod.
  // ****** Testimonials Area End ******
  // ****** Reservation Area Start ******
  section#reservation.caviar-reservation-area.d-md-flex.align-items-center
    .reservation-form-area.d-flex.justify-content-end
      .reservation-form
        .section-heading
          h2 Reservation
        form(action='/event' method='POST')
          .row
            .col-12.col-lg-6
              input.form-control(type='date',name='eventDate')
            .col-12.col-lg-6
              input.form-control(type='time',name='eventTime')
            .col-12.col-lg-6
              input.form-control(type='text', placeholder='Select Persons',name='selectPeople')
            .col-12.col-lg-6
              input.form-control(type='text', placeholder='Last name',name='bookName')
            .col-12
              textarea#reservationMessage.form-control( cols='30', rows='10',name='postMessage' placeholder='Your Message')
            .col-12
              button.btn.caviar-btn(type='submit')
                span
                |  Reserve Your Desk
    .reservation-side-thumb.wow.fadeInRightBig(data-wow-delay='0.5s')
      img(src='img/bg-img/hero-3.jpg', alt='')
  // ****** Reservation Area End ******
    